<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paraspar | P2P Video Chat</title>
    <script src="assets/js/script.js" defer></script>
</head>
<body>
    <h1>Welcome to Paraspar</h1>
    <button id="newMeetingBtn">New meeting</button>
    <p id="meetingIdResult"></p>
    <button id="gotoMeetingbtn">Start Meeting!</button>
    <p><strong>-OR-</strong></p>
    <div id="joinMeeting">
        <h3>Join an Existing meeting</h3>
        <input type="text" name="JoinMeetCode" id="JoinMeetCode">
        <button id="joinMeetBtn">Join Meeting</button>
    </div>
</body>
</html> 